set system host-name PE21

set interfaces lo0 unit 0 family inet address 10.0.0.7/32
set interfaces lo0 unit 0 family inet6 address fd00::7/128
set interfaces lo0 unit 0 family iso address 49.0002.0100.0000.0007.00

set interfaces ge-0/0/0 mtu 9100
set interfaces ge-0/0/0 unit 0 family inet address 10.0.37.7/24
set interfaces ge-0/0/0 unit 0 family inet6 
set interfaces ge-0/0/0 unit 0 family iso
set interfaces ge-0/0/0 unit 0 family mpls

set interfaces ge-0/0/1 mtu 9100
set interfaces ge-0/0/1 unit 0 family inet address 10.0.47.7/24
set interfaces ge-0/0/1 unit 0 family inet6 
set interfaces ge-0/0/1 unit 0 family iso
set interfaces ge-0/0/1 unit 0 family mpls

set interfaces ge-0/0/2 mtu 9100
set interfaces ge-0/0/2 unit 0 family inet address 10.0.78.7/24
set interfaces ge-0/0/2 unit 0 family inet6 
set interfaces ge-0/0/2 unit 0 family iso
set interfaces ge-0/0/2 unit 0 family mpls

set interfaces ge-0/0/3 mtu 9100
set interfaces ge-0/0/3 unit 0 family inet address 10.0.79.7/24
set interfaces ge-0/0/3 unit 0 family inet6 address fd00:0:0:79::7/64

set interfaces ge-0/0/4 mtu 9100
set interfaces ge-0/0/4 unit 0 family inet address 10.0.57.7/24
set interfaces ge-0/0/4 unit 0 family inet6 

delete interfaces fxp0 unit 0 family inet dhcp
set interfaces fxp0 unit 0 family inet address 192.168.0.7/24

set protocols isis interface ge-0/0/0.0 point-to-point
set protocols isis interface ge-0/0/1.0 point-to-point
set protocols isis interface ge-0/0/2.0 point-to-point
set protocols isis interface lo0.0 passive

set protocols mpls interface ge-0/0/0.0
set protocols mpls interface ge-0/0/1.0
set protocols mpls interface ge-0/0/2.0
set protocols mpls ipv6-tunneling

set protocols ldp track-igp-metric
set protocols ldp interface ge-0/0/0.0
set protocols ldp interface ge-0/0/1.0
set protocols ldp interface ge-0/0/2.0

set protocols rsvp interface ge-0/0/0.0
set protocols rsvp interface ge-0/0/1.0
set protocols rsvp interface ge-0/0/2.0

set policy-options policy-statement LB then load-balance per-flow
set policy-options policy-statement NHS then next-hop self
set policy-options policy-statement CE.in then local-preference 110
set policy-options policy-statement CE.out then as-path-prepend 65000

set routing-options autonomous-system 65000

set protocols bgp group PE type internal
set protocols bgp group PE local-address 10.0.0.7
set protocols bgp group PE family inet unicast
set protocols bgp group PE family inet6 unicast
set protocols bgp group PE export NHS
set protocols bgp group PE neighbor 10.0.0.5
set protocols bgp group PE neighbor 10.0.0.6
set protocols bgp group PE neighbor 10.0.0.8

set protocols bgp group CE family inet unicast
set protocols bgp group CE family inet6 unicast
set protocols bgp group CE peer-as 65020
set protocols bgp group CE neighbor 10.0.79.9 family inet unicast
set protocols bgp group CE neighbor fd00:0:0:79::9 family inet6 unicast
set protocols bgp group CE import CE.in
set protocols bgp group CE export CE.out

set protocols bgp group RR type internal
set protocols bgp group RR local-address 10.0.0.7
set protocols bgp group RR family inet unicast
set protocols bgp group RR family inet6 unicast
set protocols bgp group RR family inet unicast add-path receive
set protocols bgp group RR family inet6 unicast add-path receive
set protocols bgp group RR export NHS
set protocols bgp group RR multipath
set protocols bgp group RR neighbor 10.0.0.13
set protocols bgp group RR neighbor 10.0.0.14
set protocols bgp group RR shutdown
