{% for device in devices %}
Host {{ device.name }}
    Hostname {{ vlab_mgmt_net | ansible.utils.ipaddr(device.id) | ansible.utils.ipaddr('address') }}
    StrictHostKeyChecking no
    UserKnownHostsFile=/dev/null

{% endfor %}
