system {
    root-authentication {
        encrypted-password "$6$fNNqM5jX$jWvF5QHcF.iOq6izZEM/EW1knOa95u5fv/RJOC0eczZby.Klv1SK6KHI0I3k267T85iIzr3vXRu7KBLzbwIba."; ## SECRET-DATA
    }
    login {
        user maxim {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$n4dbPFku$Qn48CXEwjnXCU8XlkaMJMR1KSbhoBeRLOllngXGIOvMfENpwCsR6YEJFVvk4GZK2SZtbztxi0JuIIkcw5a/q.0"; ## SECRET-DATA
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDVflN8friZ1wjC2eEetBfyprfmrOfUhmMNhBiJxEZhUOKXzeK9jTNlDJR+FLqqMpjS+vp5pSL4A2mV1EDyQvDYLRKnQv4+gFJf+qY+2pMg5AiX2xQflJNJgCUrFnfRQVc9kdrcQU8Ov5VB86b9bm+ulBCyQCQI6XUSGDJ6WZFv9Qs+y8gTUkg7d3me/VQ3QVmrMkCTfC4ooNVHo2cemezWAduLLPOpBtlRiPvkwaChy+iN4462PguxNAL/pYQzAw20lwJfGfBWbbEtbNjD8jc4aUwC/VRKkVanuThxJVsplVZnUSziLfY/IHEzG84hisubVyrH1whkZUOaER/vh18Z maxx.orlov@gmail.com"; ## SECRET-DATA
            }
        }
    }
    services {
        ssh;
        netconf {
            ssh;
        }
    }
    syslog {
        host 172.31.8.254 {
            any info;
            authorization any;
            allow-duplicates;
            port 5141;
            structured-data;
        }
        file interactive-commands {
            interactive-commands any;
        }
        file messages {
            any notice;
            authorization info;
        }
    }
    processes {
        dhcp-service {
            traceoptions {
                file dhcp_logfile size 10m;
                level all;
                flag packet;
            }
        }
    }
}
interfaces {
    fxp0 {
        unit 0 {
            family inet dhcp;
        }
    }
}
snmp {
    community public {
        authorization read-only;
    }
}
protocols {
    lldp {
        interface all;
    }
}
